@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  margin: 0rem 8rem;
}
@media screen and (max-width: 768px) {
  .container {
    margin: 0 2rem;
  }
}

.title {
  color: #950db7;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.subtitle {
  font-family: "Inter";
  font-weight: 600;
  font-size: 40px;
}

.primary {
  color: #950db7;
}

.none {
  display: none;
}

.description {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #343234;
  line-height: 175%;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 4.5rem;
  z-index: 2;
  padding: 0 8rem;
}
@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 0 2rem;
  }
}
nav .logo {
  color: #950db7;
  font-size: 2rem;
  font-family: "monoton", sans-serif;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  nav .logo {
    font-size: 1.5rem;
  }
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  margin: 0 2.5rem;
}
@media screen and (max-width: 992px) {
  nav ul li {
    margin: 0 0.8rem;
  }
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
nav ul li a:hover {
  color: #535353;
}
@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
}
nav button {
  border: 2px solid #950db7;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  background-color: white;
  width: 10rem;
  height: 3.5rem;
}
nav button:hover {
  background-color: #950db7;
  color: white;
}
@media screen and (max-width: 768px) {
  nav button {
    display: none;
  }
}
nav .menu {
  display: none;
}
@media screen and (max-width: 768px) {
  nav .menu {
    display: block;
    cursor: pointer;
  }
  nav .menu img {
    width: 35px;
    height: 35px;
  }
  nav .menu:hover {
    border: 1px solid gainsboro;
  }
}

.close {
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  margin: 1rem 0;
  font-family: sans-serif;
  color: #92929D;
}
.close .close-button {
  cursor: pointer;
}

.offcanvas {
  display: none;
  margin: 0 -2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 200vw;
  height: 100vh;
  background-color: white;
}
.offcanvas ul {
  margin: -1rem -2rem;
}
.offcanvas ul li {
  list-style-type: none;
  border-bottom: 1px solid;
}
.offcanvas ul li a {
  margin: 0 3rem;
  text-decoration: none;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: #0C0B0C;
  display: block;
  padding: 2rem 0;
  line-height: 1;
}
.offcanvas ul li:hover {
  background-color: rgb(245, 245, 245);
}

.offcanvas-animation {
  transition: transform 1s ease-in-out;
  transform: translateX(100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  margin: 3rem 0;
}
@media screen and (max-width: 768px) {
  header {
    margin: 0;
  }
}
header .about {
  width: 100%;
  margin-right: 1.5rem;
}
@media screen and (min-width: 992px) {
  header .about {
    width: 42.5rem;
  }
}
header .about .sub-head {
  font-family: "Inter", sans-serif;
  font-size: 58px;
  font-weight: 600;
  margin: 2.3rem 0;
}
@media screen and (max-width: 992px) {
  header .about .sub-head {
    font-size: 38px;
  }
}
header .about .btns {
  display: flex;
}
header .about .btn {
  background-color: #950db7;
  box-shadow: 0px 0px 10px 4px rgba(160, 160, 160, 0.3);
}
header .about .btn:hover {
  background-color: #a627c6;
}
header .about .btn:active {
  background-color: #a939c5;
}
header .about button {
  width: 8.5rem;
  height: 3.5rem;
  margin: 1.5rem 0;
  border: none;
  border-radius: 12px;
  margin-right: 2.5rem;
  cursor: pointer;
}
header .about button a {
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  header .about button a {
    font-size: 14px;
  }
}
header .about .invisible-btn {
  background-color: white;
  box-shadow: none;
}
header .about .invisible-btn a {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  header .about .invisible-btn a {
    font-size: 14px;
  }
}
header .about .invisible-btn:hover {
  border: 1px solid #950db7;
}
header .header-img img {
  max-width: 400px;
  max-height: 375px;
  border: 1px solid #950db7;
  box-shadow: 2px 2px 30px #8c8c8c;
}
@media screen and (max-width: 992px) {
  header .header-img img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header .header-img img {
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 26vw;
    z-index: 1;
  }
}

#skill {
  padding-top: 4rem;
}

.skill-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .skill-container {
    flex-direction: column;
  }
}
.skill-container .hire-area {
  margin-right: 2rem;
}
.skill-container .hire-area button {
  width: 8.5rem;
  height: 3.5rem;
  margin: 1.5rem 0;
  border: none;
  border-radius: 12px;
  margin-right: 2.5rem;
  cursor: pointer;
  background-color: #950db7;
  box-shadow: 0px 0px 10px 4px rgba(160, 160, 160, 0.3);
  color: white;
}
.skill-container .hire-area button a {
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .skill-container .hire-area button a {
    font-size: 15px;
  }
}
.skill-container .hire-area button:hover {
  background-color: #a627c6;
}
.skill-container .hire-area button:active {
  background-color: #a939c5;
}
.skill-container .skills div {
  margin: 0 3rem;
}
@media screen and (max-width: 768px) {
  .skill-container .skills div {
    margin: 0;
  }
}
.skill-container .skills div h3 {
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
}
.skill-container .skill-backend {
  align-self: center;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 768px) {
  .skill-container .skill-backend {
    align-self: auto;
  }
}

.showcases {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .showcases {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.showcases .skill-level {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #950db7;
}
@media screen and (max-width: 768px) {
  .showcases .skill-level {
    font-size: 20px;
  }
}
.showcases .skill-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .showcases .skill-subtitle {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  .showcases .skill-subtitle {
    font-size: 15px;
  }
}
.showcases hr {
  border-color: #950db7;
}

#portfolio {
  padding-top: 4rem;
}
#portfolio .projects {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 1.5rem;
  text-align: center;
}
#portfolio .projects .project img {
  max-width: 300px;
  height: 240px;
  border: 1px solid #BEC0BF;
  border-radius: 3px;
}
#portfolio .projects .project button {
  opacity: 0;
  cursor: none;
  z-index: 1;
  position: relative;
  top: 200px;
  margin: 0 1rem;
}
#portfolio .projects .project .heading {
  opacity: 0;
  position: relative;
  top: 100px;
  margin: 0 1rem;
  z-index: 1;
}
#portfolio .projects .project:hover img {
  opacity: 0.2;
  border: 1px solid saddlebrown;
}
#portfolio .projects .project:hover button {
  position: relative;
  top: 150px;
  font-variant: small-caps;
  background: transparent;
  color: black;
  border: 1px solid #950db7;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
}
#portfolio .projects .project:hover button:hover {
  background-color: #950db7;
  color: white;
}
#portfolio .projects .project:hover .heading {
  font-family: "Inter", sans-serif;
  font-variant: small-caps;
  background: transparent;
  color: #410151;
  cursor: pointer;
  opacity: 1;
}

#contact {
  padding: 4.5rem 0;
}
#contact .title, #contact .subtitle, #contact .description {
  text-align: center;
}
#contact .contact-section {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  #contact .contact-section {
    display: block;
  }
}
#contact .contact-section .row {
  display: flex;
}
@media screen and (max-width: 768px) {
  #contact .contact-section .row {
    justify-content: stretch;
    margin: 1rem 0;
  }
}
#contact .contact-section .row div {
  margin: 1rem 1.5rem;
}
@media screen and (max-width: 768px) {
  #contact .contact-section .row div {
    margin: 0.5rem 1.5rem;
  }
}
#contact .contact-section .row div .detail-head {
  color: #92929D;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
#contact .contact-section .row div .detail {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
#contact .contact-section .input-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#contact .contact-section .input-area input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: auto;
  height: 56px;
  border: 0.3px solid #BEC0BF;
  border-radius: 8px;
  color: black;
  padding: 0 1rem;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 992px) {
  #contact .contact-section .input-area input {
    width: 100%;
    margin: 1rem 0;
  }
}
#contact .contact-section .input-area input:first-child {
  margin-right: 1rem;
}
#contact .contact-section .input-area input::-moz-placeholder {
  color: #92929D;
  opacity: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#contact .contact-section .input-area input:-ms-input-placeholder {
  color: #92929D;
  opacity: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#contact .contact-section .input-area input::placeholder {
  color: #92929D;
  opacity: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#contact .contact-section .input-area textarea {
  margin: 1rem 0;
  border: 0.3px solid #BEC0BF;
  border-radius: 8px;
  color: black;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  padding: 1rem 1rem;
  resize: none;
}
#contact .contact-section .input-area textarea::-moz-placeholder {
  color: #92929D;
  opacity: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#contact .contact-section .input-area textarea:-ms-input-placeholder {
  color: #92929D;
  opacity: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#contact .contact-section .input-area textarea::placeholder {
  color: #92929D;
  opacity: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#contact .contact-section .input-area button {
  align-self: flex-end;
  width: 8.5rem;
  height: 3.5rem;
  margin: 1.5rem 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #950db7;
  box-shadow: 0px 0px 10px 4px rgba(160, 160, 160, 0.3);
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
#contact .contact-section .input-area button:hover {
  background-color: #a627c6;
}
#contact .contact-section .input-area button:active {
  background-color: #a939c5;
}

footer {
  margin-bottom: 1rem;
  border-color: #BEC0BF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 768px) {
  footer {
    font-size: 8px;
  }
}
footer img {
  cursor: pointer;
  margin: 0 5px;
}
footer .github-icon {
  position: relative;
  top: 1.5px;
}/*# sourceMappingURL=style.css.map */